.logo-container {
  overflow: hidden;
}

.logo-list {
  display: flex;
  animation: scroll 8s linear infinite; /* Reverse the animation */
}

@keyframes scroll {
  0% {
    transform: translateX(-100);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-100);
  }
}

